apiVersion: v1
kind: Pod
metadata:
  name: api
  labels:
    app: api 
spec:
  containers:
  - name: api
    image:  israelyarbloom/contacts-api:v1
    imagePullPolicy: Always
    env:
    - name: MONGO_HOST
      value: "mongodb-service"
    - name: MONGO_PORT
      value: "27017"
    - name: MONGO_DB
      value: "contactsdb"
    ports:
    - containerPort: 8000